<% if @monsters.any? %>
  <% @monsters.each do |monster| %>
    <p><%= link_to monster.name, monster_path(monster.name) %></p>
  <% end %>
  <%= paginate @monsters %>
<% else %>
  <p>No monsters found.</p>
<% end %>
